:host {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .home {


      background: url("C:\Users\91801\OneDrive\Documents\GitHub\Design_Lab\front-end\src\assets\images\homw.jpg");

      background-position:center;

      background-size: cover;
      color: rgb(245, 232, 209);
      font-size: 50px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black ;
      display: flex;
      flex: 1;
      text-align: center;
      margin-bottom: 40px;
      image-resolution: 1;
    }

    .home-content {
      padding: 20px;
      margin: auto;
    }

    .home h1 {
      font-size: 60px;
      margin: 0 0 20px 0;
    }

    .home h2 {
      margin: 0 0 30px 0;
      font-size: 30px;
    }
    .home h3 {
      margin: 30px 30px 30px 0;

    }

    .home a {
      color: #ff4081;
    }

    .columns {
      padding: 30px 20px 30px 20px;
      margin-bottom: 40px;
    }

    .column {
      text-align: center;
    }
.btn{
width:500px;
height:150px;
font-size: 150px;
  border-radius:80px;
  font-weight: bolder;
}

    @media (min-width: 768px) {
      .columns {
        display: flex;
        flex-direction: row;
      }
      .column {
        flex: 1;
      }
    }
