
<div class="content">




<h2>  Welcome to Teacher's Page</h2>


<div id="container">

<button type="button" class="btn btn-primary"(click)="materialuHandler()" ><h3>Upload Course Lectures</h3></button><br><br>
<button  type="button" class="btn btn-danger"(click)="materialHandler()"><h3>Upload Quizzes</h3></button><br><br>
<button  type="button" class="btn btn-success"(click)="answerdownHandler()"><h3>Download Answers</h3></button><br><br>
<button  type="button" class="btn btn-warning"><h3>Upload Gradecard</h3></button><br><br>
<button  type="button" class="btn btn-dark"(click)="videocallHandler()"><h3>Doubt Clearing Session</h3></button>

</div>
</div>
